@{
    ViewData["Title"] = ViewBag.Title;
}

<div class="warper-content">
    <div class="showtimes section--product-view" style="margin:50px!important">
        <div class="container row m-auto">
            <div class="col-5 text-right">
                <h3 class="js__active">
                    <a href="#">LỊCH CHIẾU THEO PHIM</a>
                </h3>
            </div>
            <div class="col-2 text-center">
                <h2>|</h2>
            </div>
            <div class="col-5 text-left">
                <h3>
                    <a href="#">LỊCH CHIẾU THEO GIỜ</a>
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="site-section" id="properties-section">
    <div class="container">
        <div class="row large-gutters">      
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-5 ">
                <div class="ftco-media-1">
                    <div class="ftco-media-1-inner">
                        <a href="property-single.html" class="d-inline-block mb-4"><img src="images/property_1.jpg" alt="FImageo" class="img-fluid"></a>
                        <div class="ftco-media-details">
                            <h3>HD17 19 Utica Ave</h3>
                            <p>Hài Hước-Lãng Mạn</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-5 ">
                <div class="ftco-media-1">
                    <div class="ftco-media-1-inner">
                        <a href="property-single.html" class="d-inline-block mb-4"><img src="images/property_2.jpg" alt="Image" class="img-fluid"></a>
                        <div class="ftco-media-details">
                            <h3>HD17 19 Utica Ave</h3>
                            <p>Tình Cảm</p>                           
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-5 ">
                <div class="ftco-media-1">
                    <div class="ftco-media-1-inner">
                        <a href="property-single.html" class="d-inline-block mb-4"><img src="images/property_3.jpg" alt="Image" class="img-fluid"></a>
                        <div class="ftco-media-details">
                            <h3>HD17 19 Utica Ave.</h3>
                            <p>New York - USA</p>
                            <strong>$20,000,000</strong>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 mb-5 mb-lg-5 ">
                <div class="ftco-media-1">
                    <div class="ftco-media-1-inner">
                        <a href="property-single.html" class="d-inline-block mb-4"><img src="images/property_1.jpg" alt="Image" class="img-fluid"></a>
                        <div class="ftco-media-details">
                            <h3>HD17 19 Utica Ave.</h3>
                            <p>New York - USA</p>
                            <strong>$20,000,000</strong>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-5 ">
                <div class="ftco-media-1">
                    <div class="ftco-media-1-inner">
                        <a href="property-single.html" class="d-inline-block mb-4"><img src="images/property_2.jpg" alt="Image" class="img-fluid"></a>
                        <div class="ftco-media-details">
                            <h3>HD17 19 Utica Ave.</h3>
                            <p>New York - USA</p>
                            <strong>$20,000,000</strong>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-5 ">
                <div class="ftco-media-1">
                    <div class="ftco-media-1-inner">
                        <a href="property-single.html" class="d-inline-block mb-4"><img src="images/property_3.jpg" alt="Image" class="img-fluid"></a>
                        <div class="ftco-media-details">
                            <h3>HD17 19 Utica Ave.</h3>
                            <p>New York - USA</p>
                            <strong>$20,000,000</strong>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-5 ">
                <div class="ftco-media-1">
                    <div class="ftco-media-1-inner">
                        <a href="property-single.html" class="d-inline-block mb-4"><img src="images/property_3.jpg" alt="Image" class="img-fluid"></a>
                        <div class="ftco-media-details">
                            <h3>HD17 19 Utica Ave.</h3>
                            <p>New York - USA</p>
                            <strong>$20,000,000</strong>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-5 ">
                <div class="ftco-media-1">
                    <div class="ftco-media-1-inner">
                        <a href="property-single.html" class="d-inline-block mb-4"><img src="images/property_3.jpg" alt="Image" class="img-fluid"></a>
                        <div class="ftco-media-details">
                            <h3>HD17 19 Utica Ave.</h3>
                            <p>New York - USA</p>
                            <strong>$20,000,000</strong>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/home.js" asp-append-version="true"></script>
}