.custonbutton{
    background-color:greenyellow;
}
.textCustom{
    color:greenyellow;
}
<<<<<<< HEAD
.textcustomred{
    color:red;
}
.textcustomblue{
    color:blue
}
=======
.textcolorwhite{
    color:white;
}
>>>>>>> Deverloper
